
/* Test css link */
h1 {
  color: blue;
}
/* Flexbox Row */


.flex-container_main {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  height: auto;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: DodgerBlue;

}


.flex-container_row1 {
  display: flex;
  background-color: Green;
}

/* Columns */

.flex-container_row1 > div {

  background-color: orange;
  /* margin: 10px; */
  padding: 20px;
  font-size: 30px;
}

.flex-container_row2 {
  display: inline-flex;
  width: 630px;
  height: 225px;
  flex-direction: row;
  background-color: Orange;
}

.flex-container_row2 > div {
  background-color: yellow;
  width: 610px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container_column1row {
 display: inline-flex;
 width: 630px;
 height: 500px;
 flex-direction: row;
 background-color: purple;
}

.flex-container_column1row > div {
 background-color: #f1f1f1;
 width: 280PX;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}

.flex-container_mission {
  display: flex;
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 800px;
  text-align: center;
  width: 1200px;

}

.flex-item_mission {
  background-color: black;
  color: white;
}



.push {
  margin-left: auto;
}

.grow1 {
  flex-grow: 1;
}

/* Flexbox Items */
.box0 {

}

.box1 {
  display: flex;
  flex-direction: column;
}

.box2 {
  background-color: #f1f1f1;
  justify-content: center;
  align-content: center;


}

.box3 {

}

.box4 {

}

.box5 {

}

/* .flex-container_column4 {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 10px
  flex-direction: column;
  background-color: purple;
}

.flex-container_column4 > div {
  background-color: #f1f1f1;
  width: 280px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container_column5 {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 10px
  flex-direction: column;
  justify-content: flex-start;
  background-color: yellow;
}

.flex-container_column5 > div {
  background-color: #f1f1f1;
  width: 280px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container_column6 {
  display: flex;
  width: 300px;
  height: 300px;
  margin-top: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: flex-start;
  background-color: maroon;
}

.flex-container_column6 > div {
  background-color: #f1f1f1;
  width: 280px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* .flex-container_column1sa {
  display: inline-flex;
  width: 300px;
  height: 900px;
  flex-direction: column;
  background-color: purple;
}

.flex-container_column1sa > div {
  background-color: #f1f1f1;
  width: 280PX;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container_column1sb {
  display: inline-flex;
  width: 300px;
  height: 900px;
  flex-direction: column;
  background-color: maroon;
}

.flex-container_column1sb > div {
  background-color: #f1f1f1;
  width: 280PX;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* .flex-container_column2 {
  display: inline-flex;
  width: 300px;
  height: 500px;
  flex-direction: column;
  background-color: red;
}

.flex-container_column2 > div {
  background-color: #f1f1f1;
  width: 280px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container_column3 {
  display: inline-flex;
  width: 240px;
  height: 700px;
  flex-direction: column;
  background-color: pink;
}

.flex-container_column3 > div {
  background-color: #f1f1f1;
  width: 220px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */
