
/* Test css link */
h1 {
  color: blue;
}
/* Header Logo and Nav  */

.flex-container_row1 {
	display: flex;
	height: 69px;
	background-color: black;
	font-family: Helvetica;
	font-size: 22px;
	opacity: 0.9;
	color: seashell;
	align-items: center;
	border-bottom: 1px solid seashell;
}

.flex-container_row1 > div {
	padding: 10px;
}

.logo img {
	height: 50px;
	
}
.push {
	margin-left: auto;
}

.nav1 a {
	color: white;
}

/* Flexbox Main */

.flex-container_main {
	display: flex;
	background-color: black;
	height: 700px;
	width: auto;
}

.flex-container_mission {
	display: flex;
	background-image: url("../../resources/images/img-mission-background.jpg");
	flex-grow: 1;
}

.mission {
	background-color: black;
	color: white;
	flex-grow: 1;

}
/* Flexbox Items */
.box0 {

}

.box1 {

}

.box2 {

}

.box3 {

}

.box4 {

}
