​
/* Test css link */
h1 {
  color: blue;
}

* {
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;

}
body {
  background-color: black;
}

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding-top: 20px;
}

/* Flexbox Header */
.block-container_row1 {
  margin: 0 10;
  height: 69px;
}

.block-container_row1 > div {
  background-color: black;
  font-size: 22px;
  display: inline-block;
  align-items: center;
}

.logo img {
	height: 50px;
  margin-left: 10px;
}

.nav1 {
 padding: 10px;
 float: right;
 margin-right: 10px;
}

/* Flex Containers Content*/

.grow1 {
  flex-grow: 1;
}

/* Default Flex Containers */
.flex-container-row {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.block-container-inline {
  display: block;
  position: relative;
}

/* Section Flex Containers */
#part1 {
  align-items: center;
  width: 100%;
  height: auto;
  background-color: black;
  margin-top: 69px;

}

#part4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  width: 1000px;
  height: auto;
  margin: auto;
  background-color: black;
}
#part2 {
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  height: auto;
  margin: auto;
  background-color: black;
}

#part3 {
  background-image: url("../../resources/images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  margin: auto;

}

/* Modified Flex Containers */

#column1{
  background-image: url("../../resources/images/img-mission-background.jpg");
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin: auto;
  text-align: center;
  justify-content: center;

}

#column2{
  display: inline-flex;
  width: 300px;
  background-color: black;
}

#row3{
  position: absolute;
  left: 45%;
  top: 10%;

}

#column7 {
  justify-content: center;
}

/* Flex Items */

#column1 > div {
  background-color: black;
  text-align: center;
  font-size: 22px;
}

#column2 > div {
  background-color: black;
  text-align: center;
  font-size: 22px;
}

#row3 > div {
  text-align: center;
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 22px;
  /* background-color: transparent; */
}

#row4 > div {

  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300PX;
  margin: auto;
  background-color: black;
  font-size: 22px;
  opacity: 1;
}

#column7 > div {
  background-color: black;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 22px;
  margin: 0;
}

/* Elements */

.tea-img {
  height:200px;
  width: 300px;
}

.box2 {
  height:200px;
  width: 300px;
  margin: 20px 20px 0 20px;
}

.box3 h4 {
  width: 300px;
  height: 50px;
  margin: 20px 20px 0 20px;
}

.box4 {
  position: absolute;
  left: 8%;
  top: 30%;
  font-size: 22px;
  opacity: 1;
}

.box5 {
  position: absolute;
  left: 38%;
  top: 30%;
  font-size: 22px;
  opacity: 1;
}

.box6 {
  position: absolute;
  left: 68%;
  top: 30%;
  font-size: 22px;
  opacity: 1;
}

.box7 {

}

.box8 {

}

/* Footer */

footer {

}

.fbox5 {
  margin: 0;
}

.fbox6 {
  margin: 0;
}

.fbox7 {
  margin: 0;
}

.fbox8 {
  margin: 0;
}
